<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Sample test Suite">
	<test name="Project test">
		<classes>
			<class name="com.training.sanity.tests.RegisterTests" />
			<class name="com.training.sanity.tests.LoginTests" />
			<class name="com.training.sanity.tests.LostYourPasswordTests" />
		</classes>
	</test>
</suite>	